.element-cities {
  display: flex;
  justify-content: center;
  // align-items: center;
  flex-wrap: wrap;

  & p {
    font-size: 1.7rem;
    margin: 0;
    padding: 0;
    font-style: italic;
    font-weight: 700;
  }

  &__icon {
    font-size: 3rem;
    margin: 0 1rem;

    color: $color-gold;
  }
}
