// Font for logo
@import url('https://fonts.googleapis.com/css?family=Norican&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap');

$text-color-light: #ffffff;

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  color: $color-grey-dark-3;
}

p {
  font-size: 1.6rem;
}

.textLight {
  color: $text-color-light;
}

.heading-primary {
  font-family: 'Norican', cursive;
  font-size: 4rem;
  text-align: center;
}

.heading-secondary {
  font-size: 2.8rem;
  text-transform: uppercase;
  text-align: center;
  color: transparent;
  background-image: linear-gradient(
    to right,
    $color-blue-light,
    $color-blue-dark
  );
  background-clip: text;
  font-weight: 700;
}

.heading-tertiary {
  font-size: $default-font-size;
  font-weight: 700;
  text-transform: uppercase;
}

.fancyText {
  font-family: 'Norican', cursive;
}
