.btnFancyText {
  @extend .fancyText;
  font-size: 6rem;
  color: $color-white;
  text-align: center;
  text-shadow: 2px 2px 3px rgba(black, 0.3);
  text-decoration: underline;

  &:hover {
    color: $color-gold;
  }

  &--gold {
    color: $color-gold;

    &:hover {
      color: $color-gold;
    }
  }

  &--blue {
    color: $color-blue-light;

    &:hover {
      color: $color-blue-light;
    }
  }

  &--blueDark {
    color: $color-blue-dark;

    &:hover {
      color: $color-blue-dark;
    }
  }

  &--grey {
    color: $color-grey-dark;
    text-shadow: none;

    &:hover {
      color: $color-blue-light;
    }
  }
}
