.feature-box {
  // background-color: rgba($color-white, 1);
  background-image: url('../images/design/patterns/full-bloom.png');
  border: 1px solid rgba($color-black, 0.2);
  font-size: 1.5rem;
  padding: 2.5rem 1rem;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 1.5rem 4rem rgba($color-black, 0.3);
  transition: transform 0.3s;

  &:hover {
    transform: translateY(-1.5rem) scale(1.03);
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 3rem;
    max-width: 120rem;
    margin: auto;

    @include respond(tab-port) {
      grid-template-columns: repeat(auto-fit, minmax(35rem, 45rem));
      justify-content: center;
    }
  }

  /********
  Card content styling
  *********/
  & h4 {
    @extend .heading-tertiary;
    font-size: 1.8rem;
  }

  &__icon {
    font-size: 6rem;
    margin: 1.5rem 0;
    color: $color-gold;
  }

  & p:first-of-type {
    @extend .heading-tertiary;
    color: $color-blue-light;
  }

  & p:last-child {
    font-weight: 700;
    color: $color-grey-dark-3;
  }
  /********
  End card content styling
  *********/
}
